<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906496914254-jo5scapap86ie75cvoe7nno2vaepql7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906496914254-jo5scapap86ie75cvoe7nno2vaepql7s</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Y5dZQPx7Gsl_Mbmk2bSHCwMTn9Qqv0M</string>
	<key>GCM_SENDER_ID</key>
	<string>906496914254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bookStoreApp</string>
	<key>PROJECT_ID</key>
	<string>bookclubapp-b33c2</string>
	<key>STORAGE_BUCKET</key>
	<string>bookclubapp-b33c2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906496914254:ios:1ef786dc41fe1853a7a41f</string>
</dict>
</plist>